@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body{
  background-color: rgb(214, 227, 255);
  
}

.navbar-brand{ /* PIMD LOGO*/
    font-family: "Concert One", sans-serif;
    font-style: normal;
    font-size: 30px;
    color: rgb(255, 255, 255);
    transition: 0.18s ease-in-out;
}

.nav-link{ /* PIMD LOGO*/
  color: rgb(255, 255, 255);
  transition: 0.18s ease-in-out;
}
#weee, #weeel{
  box-shadow: 0px 2px 6px rgba(54, 66, 94, 0.527);
  transition: 0.18s ease-in-out;
}

#weee:hover, #weeel:hover{
  transform:scale(1.08);
  
  background: linear-gradient(0deg, rgb(154, 181, 255) 0%, rgba(255, 255, 255, 0) 42%);
  cursor: pointer;
}


#weee:active, #weeel:active {
  transform:scale(1);
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(140,173,255,1) 100%);
  cursor: pointer;
}




.navbar-brand:hover{ /* PIMD LOGO Hover*/
  
  opacity: 1;
}

.navbar{
  background-color: rgb(28, 78, 185);
  
}

.sidebar{
  background-color: rgb(106, 144, 226);
}


